.main_div {height: 100%;}

.consultation_demand_state {color: black;background-color: Transparent; border: none;}

.consultation_demand_state:hover {color: black;background-color: Transparent; border: none;}